Follow Causes
<%= form_for(@user,  :url => '/profiles/update') do |f| %>  

<% for cause in Cause.find(:all) %>
<div>
  <%= check_box_tag "user[cause_ids][]", cause.id, @user.causes.include?(cause) %>
  <%= cause.name %>
</div>
<% end %>

<div class="actions">
   <%= f.submit "Update followed causes" %>
</div>

<% end %>

