<%= render "devise/shared/mainheader" %>

<div class="home-tiles-container mlimit-top columns">
    <div class="home-tiles-group">

	<div class="home-tile-single tile-4-4"></div>
	<div class="home-tile-single tile-2-2"></div>
	<div class="home-tile-single tile-2-2"></div>	
    </div>
    <div class="home-tiles-group">

	<div class="home-tile-single tile-4-2"></div>
	<div class="home-tile-single"></div>
	<div class="home-tile-single"></div>	
    </div>
    <div class="home-tiles-group">

	<div class="home-tile-single"></div>
	<div class="home-tile-single"></div>
	<div class="home-tile-single"></div>	
    </div>
     <div class="home-tiles-group">

	<div class="home-tile-single tile-4-4"></div>
	<div class="home-tile-single tile-2-2"></div>
	<div class="home-tile-single tile-2-2"></div>	
    </div>   
</div>





<div>
    <%= link_to "Edit", profiles_edit_path%>
</div>
<div>
    <%=  render "follow_form" %>
</div>
<%= render "devise/shared/mainfooter" %>