@import "unite/colors";
@import "unite/buttons";


.row.final {
	border-bottom: solid 1px #dfdfdf;
	margin-bottom: 40px;

}

#causes .row.final {
		padding: 30px 0 40px;
}

h3.oxygen {
  font-weight: 300;
  font-size: 1.25em;
}


h3.areatitle {
	font-family: "Oxygen", Arial, sans-serif;
	font-size: 1.4em;
	span {
		color: #990055;
	}
}


.purplelink { 
	 color: #990055;
 }

.yourcause {
	p { 
		padding-bottom: 40px;
	}
	
	h3 {
		font-family: "Oxygen", Helvetica, Arial, sans-serif;
		font-size: 1.4em;
	}
}


#companies .tc { 
	background: url('/assets/logo-tc.jpg') no-repeat center center; 
	height: 61px;
}
#companies .wired { 
	background: url('/assets/logo-wired.jpg') no-repeat center center; 
	height: 61px;
}
#companies .forbes { 
	background: url('/assets/logo-forbes.jpg') no-repeat center center; 
	height: 61px;
}
#companies .techcrunch { 
	background: url('/assets/logo-techcrunch.jpg') no-repeat center center; 
	height: 61px;
}
#companies .sf7x7 { 
	background: url('/assets/logo-7x7sf.jpg') no-repeat center center; 
	height: 61px;
}



#selectcity {
	height: 490px;
	opacity: 0;
	width: 100%;
	z-index: 100;
	cursor: pointer;
	.city {
		height: 550px;
		text-align: center;
	}
	#chicago {
		background-image: url(/assets/dropdown/ca.jpg);
	}
	#sanfrancisco {
		background-image: url(/assets/dropdown/sf.jpg);
	}
	#newyork {
		background-image: url(/assets/dropdown/ny.jpg);
	}
	#chicago,#sanfrancisco,#newyork {
		height: 490px;
		background-size: cover;
		background-position: center bottom;

		&:hover img {
			zoom: 1.04;
		}
	}

	&.active {
		opacity: 1;
	}
}