@import "unite/colors";
@import "unite/buttons";

.row.final {
  border-bottom: solid 1px #dfdfdf;
  margin-bottom: 40px;

}

#causes .row.final {
  padding: 30px 0 40px;
}

h3.oxygen {
  font-weight: 300;
  font-size: 1.25em;
}


h3.areatitle {
  font-family: "Oxygen", Arial, sans-serif;
  font-size: 1.4em;
  span {
    color: #990055;
  }
}


.purplelink {
  color: #990055;
}

.yourcause {
  p {
    padding-bottom: 40px;
  }
  h3 {
    font-family: "Oxygen", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
  }
}


#companies .tc {
  background: url('/assets/logo-tc.jpg') no-repeat center center;
  height: 61px;
}
#companies .wired {
  background: url('/assets/logo-wired.jpg') no-repeat center center;
  height: 61px;
}
#companies .forbes {
  background: url('/assets/logo-forbes.jpg') no-repeat center center;
  height: 61px;
}
#companies .techcrunch {
  background: url('/assets/logo-techcrunch.jpg') no-repeat center center;
  height: 61px;
}
#companies .sf7x7 {
  background: url('/assets/logo-7x7sf.jpg') no-repeat center center;
  height: 61px;
}





#take-action-form-container {
  select {
    color: rgba(30,30,30,1.0);
  }
}
#cause_type_modal{
  h2{
    color: $darkGrey;
    margin-bottom: 25px;
  } 
}


.cause_type_button{

  width: 100%;
  display: inline-block;
  border: solid 1px $lightGrey;
  padding: 10px;
  span{
    font-size: 20px;
    margin-left: 10px;
    color: $blue;
  }
  &:hover{
    background-color: $blue;
    span{
      color: $white;
    }
    img{
      filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
   
    }
  }
}

#mapholder {
  height: 300px;
  #mapsettings {
    background: #0081bb;
    position: absolute;
    right: 40px;
    top: 20px;
    bottom: 20px;
    min-width: 210px;
    button {
      border: none;
      background: #012a3e;
      width: 100%;
    }
    select {
      height: 30px;
      /*background: url(/assets/ui/select-small.gif) no-repeat right center white;*/
      color: #202020 !important;
      border: none;
      option {
        color: #202020;
      }
    }
  }
}

@media (max-width: 777px){
  #map-title,
  #mapholder {
    display: none;
  }
  .companies.mlimit {
    margin-bottom: 0 !important;
  }
}
