.needs_holder{
  border:2px solid #e3e3e3;
  background-color: #fafafa;
  position:relative;
  padding:32px;
  .needs_title{
    color:#959494;
  }
  .need_holder{
    width:460px;
    position:relative;
    margin: 10px 0px 0px 0px;
    display:inline-block;
    height:37px;
    .need_title{
      display:inline-block;
      padding-top:10px;
      font-size:18px;
    }
    .btn{
      position:absolute;
      right:30px;
    }
  }



}