#profiles_edit form.custom .cboxrow {
  margin-top: .6em;
}
#profiles_edit form.custom .custom.checkbox {
  margin-right: .6em;
}
#profiles_edit h3 {
  padding-left: .375em;
  margin-top: 1.2em;
}
#profiles_edit textarea {
  width: 100%;
  height: 20.3em;
  resize: none;
}
#user-avatar {
  margin-bottom: 2em;
}
#fake-upload {
  margin-top: .94em;
}

