<div class="fixed-footer small-static">
    <div class="row fullwidth">
	<div class="large-12 columns">
	    <p>
		Bright Futures presents: Give.Inspire.Love - a Global Mission
	    </p>
	</div>
    </div>    
</div>
