<div class="">
<div class="row fullwidth mlimit-top">
    <div class="large-2 columns text-left">
	<h2><%= link_to image_tag("logo.png", :alt =>  "Rails"), 'http://rubyonrails.org/'  %></h2>
    </div> 
    <div class="large-2 columns">
	<h2>Find</h2>
	<p>
	    Explore causes
	</p>
    </div> 
    <div class="large-2 columns">
	<h2>Add</h2>
	<p>
	    Your cause
	</p>
    </div>  
    <div class="large-2 columns left">
	<h2>News</h2>
	<p>
	    Only the good
	</p>
    </div>  
     
</div>    
</div>
