<div class="small-static">
    <div class="row fullwidth">
	<div class="large-12 columns">
	    <p>
		<strong>Bright Futures presents:</strong> Give.Inspire.Love - a Global Mission
	    </p>
	</div>
    </div>    
</div>
