<div class="fixed upper-notice">
    <div class="row fullwidth">
	<div class="small-6 columns">
	    <%= image_tag("ui/notice-heart.png", alt: "Rails", class: "notice-close") %>
	    There’s something else that also needs your attention: Your local community.
	</div>
	<div class="small-6 columns text-right"><%= image_tag("ui/notice-close.png", alt: "Rails", class: "notice-close") %></div>
    </div>
</div>