.centered
  h2 Spread the word.
  .row
    .column.large-8
      span.strong Share on:&nbsp;
      a href="#" class="post_to_facebook" 
        img src="/assets/follow_facebook_button.jpg"
javascript:
  $('.post_to_facebook').click(function(){
    FB.ui(
      {
        method: 'feed',
        name: '#{need.message}',
        link: '#{request.original_url.html_safe}',
        description: '#{need.message}'
      },
      function(response) {
        if (response && response.post_id) {
          data={
            need_id:#{need.id},
            user_id:#{current_user.id},
            method: 'facebook'
          }
          $.post('/api/contributions',data,function(){
            $('.wizard').html($('.success').show())
          })
        } else {
          alert('Post was not published.');
        }
      }
    );
  })
 

   