@import 'unite/colors';
.cause-portal{
  background-color: white;
  min-height: 600px;
  .contribution-info{
    margin-left: 55px;
  }

  .needs-list{
    li{
      width: 200px;
    } 
    .panel{
      padding-left:0px;
      padding-right:0px;
    }
  }

  .alert{
    color:$cyan;
  }

  .edit_btn{
    color: $blue;
    display: inline-block;
    &:hover{
      cursor: pointer;
      color: $black;
    }
  }

  .delete-cause-image:hover{
    cursor: pointer;
    border: solid 2px red;
  }

  .create_need{
    background-color: $lightGrey;
    width: 170px;
  }

  .need_panel{
    background-color: $lightGrey;
    margin-bottom: 5px;
    padding: 3px;
    .panel{
      margin-bottom: 0px;
    }
  }

  .light-grey-bg{
     background-color: $white;
  }

  .contributions-feed{
    li{
      padding-bottom: 0px;
    }
    time{
      color: $darkGrey;
    }
  }
}