@import 'unite/colors';

.contribution-info{
  margin-left: 50px;
}

.cause-portal{
  background-color: white;
}

.alert{
  color:$cyan;
}

.delete-cause-image:hover{
  cursor: pointer;
  border: solid 2px red;
}