@import "unite/gradient";
@import "unite/colors";

.cash_donations_modal{
  .money_input_holder{
    background: white;
    width: 100%;
    height: 100%;
    font-size: 25px;
    padding: 8px;
    outline: 2px solid #ddd;
  }
  .money_input{
    outline:none;
    border: none;
    display: inline-block;
    width: 70px;
    border-color: transparent;
    margin-left: 3px;
    height: 26px;
    overflow: hidden;
    white-space: nowrap;

  }
  .money_input:focus{
    outline: 0 !important;
    border: none;
  }

  .payment-errors{
    color: red;
    font-weight: bold;
    
  }
  .cash_error{
    position: absolute;
    color: $pink;
    top: 45px;
    width: 200px;
    font-size: 15px;
    left:5px;
  }

  .border_error{
    outline: 2px solid $pink;
  }

}

.wizard-navigation{
  a{
    margin: 20px;
    width: 120px;
    text-align: center;
  }
}



.followers_modal{
  .support_boxes{
    padding-top: 50px;
  }
  .support_box{
    width:150px;
    height: 40px;
    display: inline-block;
    margin: 10px;
  }
  .social_holder{
    width:400px;
    textarea{
      height: 150px;
    }
  }


}

