@import "unite/colors";
#map-canvas{
  height: 550px;
}
.filterTypeHolder{
  height: 500px;
  overflow: scroll;
}

.map_title_holder{
  background-color: $veryAlmostWhite;
  h2{
    margin:30px;
    font-weight:100;
    font-size: 2.1em;
  }
  .btn{
    margin: 40px 20px 20px;
  }
}
