<script type="text/template" id="filter-template"><div>
	<div>
		<h3>Causes</h3>
		<div class="causeHolder">

		</div>
	</div>

	<div>
		<div>Needs</div>
		<div class="needsHolder">

		</div>
	</div>
</div>
</script>