<script type="text/template" id="filter-template"><div>
	<a class="showAll"><h3>Show All Locations</h3></a>
	<ul class="filterTypeHolder">

	</ul>
</div>
</script>

<script type="text/template" id="filter-row-template"><li class="animation-color">
	<a class="filter" data-id="<%= id %>" data-type="<%= type %>"><%= name %></a>
	<div class="map-bar-button right">ACT</div>
</li>
</script>

<script type="text/template" id="filter-header-row-template"><li>
	<h3><%= name %></h3>

	<ul class="filterHolder">
	</ul>
	
</li>
</script>