<script type="text/template" id="filter-template"><div>
	<a class="showAll"><h3>Show All Locations</h3></a>
	<ul class="filterTypeHolder">

	</ul>
</div>
</script>

<script type="text/template" id="filter-row-template"><li class="animation-color">
        <div class="row no-min-width">
	    <div class="large-2 small-2 columns"><img src="assets/ui/map/icon-hand.png"/></div>
	 <div class="large-8 small-8 columns"><a class="filter" data-id="<%= id %>" data-type="<%= type %>"><%= name %></a></div>
	 <div class="large-2 small-2 columns text-right"><div class="map-bar-button right">ACT</div></div>
	</div>
</li>
</script>

<script type="text/template" id="filter-header-row-template"><li>
	<h3><%= name %></h3>

	<ul class="filterHolder size-animation">
	</ul>
	
</li>
</script>

<script type="text/template" id="cause_template"><div>
<div class="row fullwidth">
    
    <div class="large-12 columns">
	<a href="/" id="goback">
	    <div class="back-arrow inline position-animation"></div>
	    <h2 class="inline"><strong>Go back to Give Inspire Love</strong></h2>
	</a>
    </div>
    

    <div class="large-7 columns mlimit-top">
	<div class="video-container">
	    <iframe width="100%" height="100%" src="<%= video_link %>" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="slimit-top"><%= description %></p>
    </div>
    <div class="large-5 columns mlimit-top">
	<h2><%= name %></h2>
	<h3 class="secondary"><%= city %>, <%= state %></h3>
	<a href="/causes/<%= id %>"><div class="pink-big-button mlimit-top"><h2>view cause</h2></div></a>
	<a href="/causes/need/<%= id %>"><div class="pink-big-button mlimit-top"><h2>help</h2></div></a>
    </div>
</div>
</div>


</script>
