- content_for(:head) do
  script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5nbu6QghhMZ7nUg8KppPc--tPG1QFWkA&sensor=true"
  script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"

  javascript:
    var causesObj=#{ @causes.to_json.html_safe }
    var locationsObj= #{@locations.to_json.html_safe }
    var needsObj= #{@needs.to_json(:methods => :type).html_safe }

//#causenav
//#mapcontainer


div style="height:100%"
  .row.fullwidth style="height:100%"
    .large-3.nopadding.push-9.columns.map-bar.map-menu.position-animation style="height: 100%;"
      #accordian-holder style="height: 100%;"
    .large-9.nopadding.pull-3.columns style="height: 100%;"
      #map-canvas style="width: 100%; height: 100%: "
  .toggle-map= image_tag("ui/cog.png", :alt =>  "Rails")
  .popoverHolder
