

<%= render "shared/goback" %>


<div class="row blimit-top blimit cascade">
    <div class="large-12 columns cascade-single">
	<h2>Take action. There are <%= "#{pluralize(@allNeeds.count, "way") }"%> main ways you can help!</h2>
	<h3 class="slimit">Every little bit counts</h3>	  
    </div>
<% @allNeeds.each do |needs|
	for need in needs%>
	<div class="large-6 columns cascade-single">
	    <div class="action-button animation-color slimit"><%= link_to need.name, need %></div>
	</div>



<% end 
end %>
    
</div>

<%= render "shared/footer" %>