<% if flash && flash[:notice] %>
  <div class="fs-bg">
      <div class="fs-message fs-notice">
        <%= flash[:notice] %>
      </div>
  </div>
<% end %>

<% if flash && flash[:alert] %>
  <div class="fs-bg">
    <div class="fs-message fs-alert">
      <%= flash[:alert] %>
    </div>
  </div>
<% end %>

<% if flash && flash[:error] %>
  <div class="fs-message fs-error"><%= flash[:error] %></div>
<% end %>