<div class="row fullwidth mlimit-top large-mlimit-left">
    <div class="large-12 columns">
	<a href="<%= root_url  %>">
	    <div class="back-arrow inline position-animation"></div>
	    <h2 class="inline"><strong>Go back to Give Inspire Love</strong></h2>
	</a>
    </div>    
</div>