<div class="small-static">
    <div class="row">
	<div class="large-4 columns ">
	    <div class="label">
		<h3 class="blue-text">Location settings</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis nibh neque, quis sollicitudin odio interdum eget.</p>
	    </div>
	</div>
	<div class="large-4 columns">
	<div class="label">    
	    <h3 class="blue-text">Discover</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis nibh neque, quis sollicitudin odio interdum eget.</p>
	</div>    
	</div>
	<div class="large-4 columns">
	<div class="label">    
	    <h3 class="blue-text">Company</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis nibh neque, quis sollicitudin odio interdum eget.</p>
	 </div>   
	</div>

    </div>     
    <div class="row">
	<div class="large-3 columns">
	    <h4>Location settings</h4>
	</div>
	<div class="large-3 columns">
	    <h4>Discover</h4>
	</div>
	<div class="large-3 columns">
	    <h4>Company</h4>
	</div>
	<div class="large-3 columns">
	    <h4>Join us</h4>
	</div>
    </div>    
</div>
