<div id="topbar">
    <div class="row">
	<nav>
	    <ul class="no-margin plain-list">
		<li id="top-logo"><img src="assets/logo-unite4good.png"/></li>
		<li class="top-nav-item">CITIES</li>
		<li class="top-nav-item">CAUSES</li>
		<li class="top-nav-item">NEWS</li>
		<li class="top-nav-item"><%= render 'shared/user-manager'%></li>
		
	    </ul>
	</nav>
	<div id="mobile-menu"></div>
    </div>
</div>