<div><%= @volunteer_need.name%></div>

<div><%= @volunteer_need.description %></div>

<div><%= @volunteer_need.address %></div>

<%= link_to "Sign up", new_volunteer_path({:volunteer_need_id=>@volunteer_need.id}) %>