<div class="large-3 columns">
	    <div class="cause-single">
		<div class="cause-header" style="background-image: url(<%= need.cause.picture.url(:medium) %>);">
		    <div class="cause-title">
			<%= need.cause.name %>
		</div>
		<div class="oxygen s-padding">
		    <h4><%= need.name %></h4>
		    <div class="bar-cont slimit-top slimit">
			<div class="bar reset" style="width:20%"></div>
		    </div>
		    <div><span class="purple-text strong h3">2023</span> supported <span class="purple-text strong h3">10</span> days left</div>
		    <div class="purple-bg button cabin">
			<%= link_to '<h4>Be a supporter</h4>'.html_safe, need %>
		    </div>
		</div>
	    </div>
	</div>
</div>