<%= render "shared/mainheader" %>

<% @additional_head_content= render 'shared/google_maps_header' %>

<div id="header">

</div>
<div id="sub-header" class="blimit">
    <div class="row">
	    <div class="large-4 columns m-limit">
		<img class="left slimit-right" src="assets/map-icon.png"/>
		<h3 class="oxygen">Find quality causes in your area</h3>
	    </div>
	    <div class="large-4 columns m-limit">
		<img class="left slimit-right" src="assets/step-icon.png"/>
		<h3 class="oxygen">Take small steps TODAY to get involved</h3>
	    </div>
	    <div class="large-4 columns m-limit">
		<img class="left slimit-right" src="assets/star-icon.png"/>
		<h3 class="oxygen">Get recognized for your support</h3>
	    </div>

    </div>
</div>

<div id="causes" class="blimit">
    <div class="row">
	<div class="large-3 columns">
	    <div class="cause-single">
		<div class="cause-header" style="background-image: url(assets/t1.jpg);">
		    <div class="cause-title">
			Foundation of greater Chicago Homeless
		    </div>
		</div>
		<div class="oxygen s-padding">
		    <h4>Help us reach 500 supporters by July 1, 2013</h4>
		    <div class="bar-cont s-limit-top s-limit">
			<div class="bar reset" style="width:60%"></div>
		    </div>
		    <div class="purple-bg button cabin">
			<h4>Be a supporter</h4>
		    </div>
		</div>
	    </div>
	</div>

	<div class="large-3 columns">
	    <div class="cause-single">
		<div class="cause-header" style="background-image: url(assets/t2.jpg);">
		    <div class="cause-title">
			Foundation of greater Chicago Homeless
		    </div>
		</div>
		<div class="oxygen s-padding">
		    <h4>Help us reach 500 supporters by July 1, 2013</h4>
		    <div class="bar-cont s-limit-top s-limit">
			<div class="bar reset" style="width:30%"></div>
		    </div>
		    <div class="purple-bg button cabin">
			<h4>Be a supporter</h4>
		    </div>
		</div>
	    </div>
	</div>

	<div class="large-3 columns">
	    <div class="cause-single">
		<div class="cause-header" style="background-image: url(assets/t3.jpg);">
		    <div class="cause-title">
			Foundation of greater Chicago Homeless
		    </div>
		</div>
		<div class="oxygen s-padding">
		    <h4>Help us reach 500 supporters by July 1, 2013</h4>
		    <div class="bar-cont s-limit-top s-limit">
			<div class="bar reset" style="width:10%"></div>
		    </div>
		    <div class="purple-bg button cabin">
			<h4>Be a supporter</h4>
		    </div>
		</div>
	    </div>
	</div>

	<div class="large-3 columns">
	    <div class="cause-single">
		<div class="cause-header" style="background-image: url(assets/t4.jpg);">
		    <div class="cause-title">
			Foundation of greater Chicago Homeless
		    </div>
		</div>
		<div class="oxygen s-padding">
		    <h4>Help us reach 500 supporters by July 1, 2013</h4>
		    <div class="bar-cont s-limit-top s-limit">
			<div class="bar reset" style="width:95%"></div>
		    </div>
		    <div class="purple-bg button cabin">
			<h4>Be a supporter</h4>
		    </div>
		</div>
	    </div>
	</div>	    
    </div>
</div>

<div class="row">
    <div class="group-header">
	FIND
    </div>
    <div id="mapHolder"></div>    
    <div class="large-12 text-right">ALL</div>
    <div class="cboth"></div>
</div>

<div class="row" id="companies">
    COMPS
</div>









<%= render "shared/mainfooter" %>
<script>
    var causesCollection=parseObjIntoModels(<%= @causes.to_json.html_safe %>, Cause)
    var locationsCollection=parseObjIntoModels(<%= @locations.to_json.html_safe %>, Location)
    var map = createGoogleMap( $('#mapHolder')[0])
    populateMapMarkers(map,locationsCollection.models)
</script>