<div id="header">

    <div class="right header-nav">
    <% @featured_causes.each do |cause| %>
		<%= render 'featured_cause', :cause => cause %>
	<% end %>

    </div>
    <div style="background-image: url(assets/h1.jpg);"class="header-slide transition">
	<div class="row">
	    <div class="header-slogan"></div>
	</div>
    </div>
    <div style="background-image: url(assets/h2.jpg);"class="header-slide transition"></div>
    <div style="background-image: url(assets/h1.jpg);"class="header-slide transition"></div>
    <div class="cboth"></div>

</div>
<div id="sub-header" class="mlimit">
    <div class="row">
	<div class="large-4 columns mlimit">
	    <img class="left mlimit-right" src="assets/left_pointer.png" height="40px"/>
	    <h3 class="oxygen no-margin">Find quality causes in your area that you can support</h3>
	</div>
	<div class="large-4 columns mlimit">
	    <img class="left mlimit-right" src="assets/middle_steps.png" height="40px"/>
	    <h3 class="oxygen no-margin">Sign up and make small steps TODAY to make a difference</h3>
	</div>
	<div class="large-4 columns mlimit">
	    <img class="left mlimit-right" src="assets/right_circle.png" height="40px"/>
	    <h3 class="oxygen no-margin">Earn badges for your support and get recognized
</h3>
	</div>

    </div>
</div>

<div id="causes" class="mlimit">
    <div class="row">

	<% @campaigns.each do |campaign| %>
		<%= render 'shared/featured_need', :need => campaign.need, :stats=> [{:upper=> 'donate', :lower=>'$20'}], :percent=>campaign.percent_complete %>
	<% end %>

    </div>
</div>

<div class="row blimit">
    <div class="large-12 columns">
	<div class="gray_border map_title_holder"><h2 class="inline">Find quality causes in your area</h2> 
		<%= link_to 'SEE CAUSES NEAR YOU', '/causes', :class=>'btn blue right btn-medium' %>
		</div>
	<div id="mapHolder" class="gray_border"></div>
    </div>
    <div class="large-12 columns text-right purple-text slimit-top">View all causes in your area</div>
    <div class="cboth"></div>
</div>

<div class="row blimit text-center" id="companies">
    
</div>


