<%= render "shared/mainheader" %>

<% @additional_head_content= render 'shared/google_maps_header' %>

<div id="header">

    <div class="right header-nav">
	<div class="black-bg-tp m-padding header-label">
	    <div class="arrow-left transition-quick"></div>
	    <h3 class="s-limit no-limit-top">Lorem</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	    <div class="blue-bg inline-inline small-button">MORE</div>
	</div>
	<div class="black-bg-tp m-padding header-label">
	    <div class="arrow-left transition-quick"></div>
	    <h3 class="s-limit no-limit-top">Lorem</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	    <div class="blue-bg inline-inline small-button">MORE</div>
	</div>
	<div class="black-bg-tp m-padding header-label">
	    <div class="arrow-left transition-quick"></div>
	    <h3 class="s-limit no-limit-top">Lorem</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	    <div class="blue-bg inline-inline small-button">MORE</div>
	</div>

    </div>
    <div style="background-image: url(assets/h1.jpg);"class="header-slide transition">
	<div class="row">
	    <div class="header-slogan"></div>
	</div>
    </div>
    <div style="background-image: url(assets/h2.jpg);"class="header-slide transition"></div>
    <div style="background-image: url(assets/h1.jpg);"class="header-slide transition"></div>    
    <div class="cboth"></div>

</div>
<div id="sub-header" class="mlimit">
    <div class="row">
	<div class="large-4 columns mlimit">
	    <img class="left mlimit-right" src="assets/map-icon.png"/>
	    <h3 class="oxygen no-margin">Find quality causes in your area</h3>
	</div>
	<div class="large-4 columns mlimit">
	    <img class="left mlimit-right" src="assets/step-icon.png"/>
	    <h3 class="oxygen no-margin">Take small steps TODAY to get involved</h3>
	</div>
	<div class="large-4 columns mlimit">
	    <img class="left mlimit-right" src="assets/star-icon.png"/>
	    <h3 class="oxygen no-margin">Get recognized for your support</h3>
	</div>

    </div>
</div>

<div id="causes" class="mlimit">
    <div class="row">
	<div class="large-3 columns">
	    <div class="cause-single">
		<div class="cause-header" style="background-image: url(assets/t1.jpg);">
		    <div class="cause-title">
			Foundation of greater Chicago Homeless
		    </div>
		</div>
		<div class="oxygen s-padding">
		    <h4>Help us reach 500 supporters by July 1, 2013</h4>
		    <div class="bar-cont slimit-top slimit">
			<div class="bar reset" style="width:20%"></div>
		    </div>
		    <div><span class="purple-text strong h3">2023</span> supported <span class="purple-text strong h3">10</span> days left</div>
		    <div class="purple-bg button cabin">
			<h4>Be a supporter</h4>
		    </div>
		</div>
	    </div>
	</div>
	<div class="large-3 columns">
	    <div class="cause-single">
		<div class="cause-header" style="background-image: url(assets/t2.jpg);">
		    <div class="cause-title">
			Foundation of greater Chicago Homeless
		    </div>
		</div>
		<div class="oxygen s-padding">
		    <h4>Help us reach 500 supporters by July 1, 2013</h4>
		    <div class="bar-cont slimit-top slimit">
			<div class="bar reset" style="width:80%"></div>
		    </div>
		    <div><span class="purple-text strong h3">2023</span> supported <span class="purple-text strong h3">10</span> days left</div>
		    <div class="purple-bg button cabin">
			<h4>Donate $5</h4>
		    </div>
		</div>
	    </div>
	</div>
	<div class="large-3 columns">
	    <div class="cause-single">
		<div class="cause-header" style="background-image: url(assets/t3.jpg);">
		    <div class="cause-title">
			Foundation of greater Chicago Homeless
		    </div>
		</div>
		<div class="oxygen s-padding">
		    <h4>Help us reach 500 supporters by July 1, 2013</h4>
		    <div class="bar-cont slimit-top slimit">
			<div class="bar reset" style="width:60%"></div>
		    </div>
		    <div><span class="purple-text strong h3">2023</span> supported <span class="purple-text strong h3">10</span> days left</div>
		    <div class="purple-bg button cabin">
			<h4>Contribute</h4>
		    </div>
		</div>
	    </div>
	</div>
	<div class="large-3 columns">
	    <div class="cause-single">
		<div class="cause-header" style="background-image: url(assets/t4.jpg);">
		    <div class="cause-title">
			Foundation of greater Chicago Homeless
		    </div>
		</div>
		<div class="oxygen s-padding">
		    <h4>Help us reach 500 supporters by July 1, 2013</h4>
		    <div class="bar-cont slimit-top slimit">
			<div class="bar reset" style="width:40%"></div>
		    </div>
		    <div><span class="purple-text strong h3">2023</span> supported <span class="purple-text strong h3">10</span> days left</div>
		    <div class="purple-bg button cabin">
			<h4>Be a supporter</h4>
		    </div>
		</div>
	    </div>
	</div>

    </div>
</div>

<div class="row blimit">
    <div class="large-12 columns">
	<div class="group-header">Find quality causes in your area</div>
	<div id="mapHolder"></div>  	
    </div>
    <div class="large-12 columns text-right purple-text slimit-top">View all causes in your area</div>
    <div class="cboth"></div>
</div>

<div class="row blimit text-center" id="companies">
    <img src="assets/companies.png"/>
</div>




<%= render "shared/mainfooter" %>
<script>
    var causesCollection=parseObjIntoModels(<%= @causes.to_json.html_safe %>, Cause)
    var locationsCollection=parseObjIntoModels(<%= @locations.to_json.html_safe %>, Location)
    var map = createGoogleMap( $('#mapHolder')[0])
    populateMapMarkers(map,locationsCollection.models)
</script>