.header_popover_holder{
    position: relative;
    width: 100%;
    position: fixed;
    z-index: 12;

    .header_popover{
      width: 100%;
      position: absolute;
      background-color:white;
      top:-300px;
      z-index: 13;
    }
   .popover_box{
      background-color:black;
      float: left !important;
   }

   .popover_box:hover{
      background-color: rgb(57,196,242);
      cursor: pointer;
      text-decoration: none;
   }


}

.fade{
  position: fixed;
  background-color: rgba(100,100,100,.3);
  width: 100%;
  height: 100%;
  z-index: 12;
}