<%= render "shared/goback" %>

<% @title ="Give money" %>

<div class="row blimit-top blimit cascade">
<%= link_to "Donate", new_donation_path({:donations_need_id=>@donations_need.id}),:class => 'animation-color button-submit cascade-single' %>
</div>

<%= render "shared/footer" %>