<li class="animation-color">
        <div class="row no-min-width">
	    <div class="large-2 small-2 columns"><img src="assets/ui/map/icon-hand.png"/></div>
	 <div class="large-8 small-8 columns"><a class="filter" data-id="<%= id %>" data-type="<%= type %>"><%= name %></a></div>
	 <div class="large-2 small-2 columns text-right"><div class="map-bar-button right">ACT</div></div>
	</div>
</li>