/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .button-submit {
     border-radius: 5px;
     background-color: #399a98;
     padding: 15px 35px 15px 35px;
     color: #fff;
     cursor:pointer;
 }
 .button-submit:hover{
     background-color: #2e8987;
 }
 .centered-text {
     text-align: center;
 }
 .inline {
     display: inline-block;
     vertical-align: middle;
 }
 .back-arrow{
     background-image: url(back-arrow.png);
     background-size: cover;
     width: 32px;
     height: 32px;
     margin-right: 25px;     
     position: relative;
     cursor: pointer;
 }
 .back-arrow:hover{
     left:-2px;
 }
 
 .slimit {
     margin-bottom: 1em !important;
 }
 .mlimit{
     margin-bottom: 2em !important;
 }
 .blimit{
     margin-bottom: 4em !important;
 }
  .slimit-top {
     margin-top: 1em !important;
 }
 .mlimit-top{
     margin-top: 2em !important;
 }
 .blimit-top{
     margin-top: 4em !important;
 }
 
 .fixed-footer {
     position:fixed;
     bottom: 0;
     padding-bottom: 4em;
     width: 100%;
 }
 .upper-notice{
     position: fixed;
     padding:20px 40px 20px 40px;
     background-color: #399a98;
     top: 0;
     left: 0;
     right: 0;
     z-index: 999;
     color: #fff;
 }
 
 .notice-close {
     width: 14px;
     height: 14px;
     cursor: pointer;
 }
 
 
 
 
 @media only screen and (max-width: 48em), only screen and (max-height: 42em) {
     .small-static {
	 position: static !important;
     }
 }
 
 .home-tiles-container{
     white-space: nowrap;
 }
 .home-tiles-group{
     height:600px;
     display: inline-block;
     margin-right: 40px;
 }
 .home-tile-single{
     width:128px;
     height:128px;
     margin: 0 16px 16px 0;
     background-color: gray;
 }
 
 .tile-1-1{
     width:128px;
     height:128px;
 }
 .tile-2-1{
     width:272px;
     height:128px;
 }
 .tile-2-2{
     width: 272px;
     height:272px;     
 }
 .tile-4-2{
     width: 564px;
     height: 272px;
 }
 .tile-4-4{
     width: 564px;
     height: 564px;
 }