html, body {
  height: 100%;
  width: 100%;
}

body.causes {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;

  #map-canvas {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}