.m-padding {
    padding: 40px;
}
.s-padding {
    padding: 10px;

}

.purple-bg {
    background-color: #9e0253;
    color: #fff; 
}
.purple-text {
    color: #9e0253;
}


.blue-bg {
    background-color: #009dd1;
    color: #fff; 
}

.centered-text {
    text-align: center;
}
.inline {
    display: inline-block;
    vertical-align: middle;
}
.inline-inline {
    display: inline;
    vertical-align: middle;
}
.no-limit-top {
    margin-top: 0 !important;
}
.slimit {
    margin-bottom: 1em !important;
}
.mlimit{
    margin-bottom: 2em !important;
}
.blimit{
    margin-bottom: 4em !important;
}
.slimit-top {
    margin-top: 1em !important;
}
.mlimit-top{
    margin-top: 2em !important;
}
.blimit-top{
    margin-top: 4em !important;
}


.secondary {
    opacity: 0.8;
}
.tertiary {
    opacity: 0.4;
}

.bordered {
    border: 2px solid #d3d3d3;
}
.static {
    position: static !important;
}

.nopadding {
    padding: 0 !important;
}

.m-padding {
    padding:20px;
}

.bold {
    font-weight: 700;
}
.large-mlimit-left {
    padding-left: 35px !important;
}

.slimit-left {
    margin-left: 10px !important;
}
.slimit-right {
    margin-right: 10px;
}
.mlimit-right {
    margin-right: 20px;
}
.cboth {
    clear:both;
}
.no-margin {
    margin: 0 !important;
}
.smoke-bg {
    background-color: #f4f4f4;
}

.cyan-text {
    color: #399a98;
}
.cyan-bg {
    background-color: #399a98;
    color: #fff;
}
.yellow-text {
    color: #f49234;
}
.yellow-bg {
    background-color: #f6d332;
    color: #373737;
}
.black-bg {
    background-color: #000;
    color: #fff;
}
.black-bg-tp {
    background-color: #000;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
}
.blue-text{
    color: #009dd1;
}


.no-min-width {
    min-width: 0px !important;
}
.no-min-height {
    min-height: 0px !important;
}

.button {
    text-align: center;
    padding: 20px;
    margin: 10px 0 10px 0;
    font-size: 150%;
    line-height: 150%;
}
.button * {
    margin: 0;
}
.small-button {
    padding: 2px 11px 2px 11px;
    font-size:70%;
    text-align: center;
}

.label {
    padding: 20px;
    border: 1px solid #dcdcdc;
    background-color:#eee;
}

.equal-col-cont {
   overflow: hidden;
   clear:    both;
}
.equal-col-cont .equal-col {
   float: right;
   padding-bottom: 100000px;
   margin-bottom:  -100000px;
}

.plain-list {
    list-style: none;
    padding: 0;
}
.pos-rel {
    position: relative;
}

.transition {
  -webkit-transition: all 0.8s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.8s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.8s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.8s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.transition-quick {
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}


.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid #000; 
	border-right-color: rgba(0,0,0,0.9);
}



@media only screen and (max-width: 48em) {
    .small-inline-list li{
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 10px;
    }

}


/* HEADER */

#topbar {
  height: 52px;
  line-height: 52px;
  background: url(topbar-bg.jpg) repeat-x center;
  box-shadow: 0 0 5px #000;
  position: relative;
  z-index: 14;
}

#topbar nav li {
  display: inline-block;
}

#top-logo {
  margin-right: 20px;
}

#topbar nav li.top-nav-item {
  padding: 0 40px 0 40px;
  font-size: 90%;
}

#topbar nav ul {
    padding-left: 20px;
}

#mobile-menu {
  height: 52px;
  width: 52px;
  background: url(mobile-menu.png) center no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  cursor: pointer;
}


#header {
 position: relative;
}

.header-slide {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  left: -20px;
  z-index: 10;
}

.header-slide.active {
  opacity: 1;
  z-index: 12;
  left: 0;
}

.header-slide.last {
}

.header-nav {
  position: relative;
  z-index:13;
}

.header-label {
    position: relative;
    width: 250px;
    border-bottom: 1px solid #4a4a4a;
}
.header-label .arrow-left {
    position: absolute;
    left:0px;
    top:40%;
}
.header-label.active .arrow-left {
    left:-10px;
}
.header-slogan {
    position: absolute;
    max-width: 70%;
    bottom: 20px;
    background: url(header-slogan.png) no-repeat bottom left;
    background-position-x: 10px;
    background-size: contain;
    width:601px;
    height: 163px;
}

.map-infobox {
    position: fixed !important;
    background: #fff !important;
    overflow: auto;
    padding: 20px !important;
    z-index: 999;
    width: 70% !important;
    left: 15% !important;
    right: 15% !important;
    top: 10% !important;
    box-shadow: 0 0 50px;
}
.map-infobox > div {
    background: none !important;
    border: none !important;
    padding: 20px !important;

}




.group-header {
    background-color: #fafafa;
    border: 1px solid #dadada;
    padding: 20px;
    font-size: 160%;
}



#companies {
    overflow: hidden;
}


#sub-header {
    background-color: #f4f4f4;
    padding:40px;
    padding-bottom: 20px;

}

.cause-single {
    background-color: #fafafa;
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
}

.cause-header {
    background-size: cover;
    min-height: 130px;
    position: relative;
}

.cause-title {
    background: #000;
    color: #fff;
    display: inline;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 80%;
}

.bar-cont {
    background: #c2c2c2;
    border-radius: 4px;
    height: 10px;
}

.bar-cont .bar {
    border-radius: 4px;
    background: #2ab200;
    height: 10px;
    transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;    /* FF3.7+ */
    -o-transition: width 1s ease-in-out;      /* Opera 10.5 */
    -webkit-transition: width 1s ease-in-out; /* Saf3.2+, Chrome */
}
.bar.reset {
    width: 10px !important;
}

#mapHolder {
    min-height: 400px;
}

#map-canvas { height: 100% }


@media only screen and (max-width: 48em) {

    .map-infobox {
    width: 90% !important;
    left: 5% !important;
    right: 5% !important;
    top: 5% !important;
    bottom: 5% !important;
    padding: 10px 10px 30px 10px !important;
    }
    .map-infobox > div {
    padding: 5px !important;
    }
    .map-corner-logo {
    top: auto;
    bottom: 20px;
    }
    .home-tiles-group {
    margin-bottom: 80px;
    }
    .cause-header {
    min-height: 240px;
    }
    .cause-title {
    font-size: 160%;
    line-height: 160%;
    }

    #topbar nav li.top-nav-item {
    display: none;
    }
    #mobile-menu {
    display: inherit;
    }

}

.centered{
  margin-left: auto;
  margin-right: auto;
}

.fs-bg{
    z-index: 9;
    width:300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;

}

.fs-message{
    width:300px;
    padding:15px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
}

.fs-notice{
    background-color: yellow;
}

.fs-alert{
    background-color: pink;
}

.fs-error{
    background-color: red;
}

