@import "unite/colors";
@import "unite/buttons";

body {
  min-width: 420px;
  background-color: #f3f3f3;
  color: #494949;
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
}
a {
    color: #009dd1;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a.nocolor {
    color: inherit !important;
}
b,strong,h2,h1,.strong {
  font-weight:700;
}
h0,.h0 {
  font-size: 70pt;
}
h2,.h2{
  font-size: 17.25pt;
}
h3,.h3 {
  font-size: 14.85pt;
  line-height: 1.3em;
}
h4,.h4, h4 *, .h4 * {
  font-size: 12pt !important;
  line-height: 1.1em;
}
h5,.h5 {
  font-size: 9pt !important;

}

.block {
  display: block;  
}

.bg-cover {
  background-size: cover;
}
.bg-size-medium {
  background-size: 70% !important;
}

.m-padding {
    padding: 40px;
}
.s-padding {
    padding: 10px;

}

.purple-bg {
    background-color: #9e0253;
    color: #fff; 
}
.purple-text {
    color: #9e0253;
}


.blue-bg {
    background-color: #009dd1;
    color: #fff; 
}

.pink-bg {
    background-color: #9e0253;
    color: #fff
}

.centered-text {
    text-align: center;
}
.inline {
    display: inline-block;
    vertical-align: middle;
}
.inline-inline {
    display: inline;
    vertical-align: middle;
}
.no-limit-top {
    margin-top: 0 !important;
}
.slimit {
    margin-bottom: 10px !important;
}
.mlimit{
    margin-bottom: 20px !important;
}
.blimit{
    margin-bottom: 40px !important;
}
.slimit-top {
    margin-top: 10px !important;
}
.mlimit-top{
    margin-top: 20px !important;
}
.blimit-top{
    margin-top: 40px !important;
}


.secondary {
    opacity: 0.8;
}
.tertiary {
    opacity: 0.4;
}

.bordered {
    border: 2px solid #d3d3d3;
}
.static {
    position: static !important;
}

.nopadding {
    padding: 0 !important;
}

.xspadding {
  padding: 5px;
}
.spadding {
  padding: 10px;
}

.m-padding, .mpadding {
    padding:20px;
}

.bold {
    font-weight: 700 !important;
}
.slim {
  font-weight: 200 !important;
}
.large-mlimit-left {
    padding-left: 35px !important;
}

.slimit-left {
    margin-left: 10px !important;
}
.slimit-right {
    margin-right: 10px;
}

.mlimit-right {
    margin-right: 20px;
    max-width: 80px;
    height: auto;
}
.cboth {
    clear:both;
}
.no-margin {
    margin: 0 !important;
}
.smoke-bg {
    background-color: #f4f4f4;
}

.cyan-text {
    color: #399a98;
}
.cyan-bg {
    background-color: #399a98;
    color: #fff;
}
.yellow-text {
    color: #f49234;
}
.yellow-bg {
    background-color: #f6d332;
    color: #373737;
}
.black-bg {
    background-color: #000;
    color: #fff;
}
.black-bg-tp {
    background-color: #000;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
}
.blue-text{
    color: #009dd1;
}
.row {
  max-width: 1200px !important;
}
.row.fullwidth {
  max-width: none !important;
}
.row.narrow {
  width: 800px !important;
}
.fnone {
  float: none !important;
}

.no-min-width {
    min-width: 0px !important;
}
.no-min-height {
    min-height: 0px !important;
}
.nowrap {
  white-space: nowrap !important;  
}
.wrap {
  white-space: normal !important;  
}

.button {
    text-align: center;
    padding: 20px;
    margin: 10px 0 10px 0;
    font-size: 150%;
    line-height: 150%;    
}

.button2 {
  display: inline-block;
  padding: 9px 7px;
  color: white;
}
.white, .white * {
  color: #fff !important;
}

.text-shadow {
  text-shadow: 0 0 5px rgba(0,0,0,0.3);

}
.shadow {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.rounded {
  border-radius: 10px;
}
.s-rounded {
  border-radius: 3px;
}

.button * {
    margin: 0;
}

.oxygen, .oxygen * {
  font-family: 'Oxygen', sans-serif !important;
}

.label {
    padding: 20px;
    border: 1px solid #dcdcdc;
    background-color:#eee;
}

.no-outline {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.equal-col-cont {
   overflow: hidden;
   clear:    both;
}
.equal-col-cont .equal-col {
   float: right;
   padding-bottom: 100000px;
   margin-bottom:  -100000px;
}

.plain-list {
    list-style: none;
    padding: 0;
}
.pos-rel {
    position: relative;
}
.pos-abs {
  position: absolute !important;  
}
.bottom {
  bottom: 0;
}
.gridded {
  border: 1px solid rgba(0,0,0,0.6);
  & > * {
    border-right: 1px solid;
  }
  & > *:last-child {
    border: none;
  }
}


input.bubble {
  border-radius: 5px !important;
  height: 40px !important;
}

.transition {
  -webkit-transition: all 0.8s cubic-bezier(.15,.98,.35,.99);  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.8s cubic-bezier(.15,.98,.35,.99);  /* Firefox 4-15 */
       -o-transition: all 0.8s cubic-bezier(.15,.98,.35,.99);  /* Opera 10.50–12.00 */
          transition: all 0.8s cubic-bezier(.15,.98,.35,.99);  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.transition-quick {
  -webkit-transition: all 0.3s cubic-bezier(.15,.98,.35,.99);  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s cubic-bezier(.15,.98,.35,.99);  /* Firefox 4-15 */
       -o-transition: all 0.3s cubic-bezier(.15,.98,.35,.99);  /* Opera 10.50–12.00 */
          transition: all 0.3s cubic-bezier(.15,.98,.35,.99);  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}


.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid #000; 
	border-right-color: rgba(0,0,0,0.9);
}

.tag-block {
  border-radius: 3px;
  height: 45px;
  margin: 5px;
  line-height: 45px;
  display: inline-block;
  padding: 0 20px 0 20px;
  font-weight: 700;
  color: rgba(0,0,0,0.9);
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#cdcdcd)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #f0f0f0, #cdcdcd); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, #f0f0f0, #cdcdcd); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #f0f0f0, #cdcdcd); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #f0f0f0, #cdcdcd); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  
  a {
    color: rgba(0,0,0,0.9);
  }
  .tag-block-detail {

    display: inline-block;
    border-right: 1px solid #bdbdbd;
    padding: 0 20px 0 20px;
    &:last-child {
      border: none;
      padding: 0 0 0 20px;
    }
    &:first-child {
      padding: 0 20px 0 0;
    }
  }
}

.circle {
  border-radius: 1000px;
}



@media only screen and (max-width: 48em) {

  ho,.h0 {
    font-size: 40pt;
  }
  .small-static {
    position: static !important;    
  }
  .small-height-auto {
    height: auto !important;
  }

    .small-inline-list li{
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 10px;
    }

    .row {
      max-width: 90% !important;
    }
    .row .row {
      max-width: none !important;
    }

    .gridded {
      
      & > * {
        border-right: none;
        border-bottom: 1px solid;
      }      
    }

}



.map_title_holder{
  background-color: $veryAlmostWhite;
  h2{
    margin:30px;
    font-weight:100;
    font-size: 2.1em;
  }
  .btn{
    margin: 40px 20px 20px;
  }
}

#mapHolder{
  background-image: url('/assets/map_placeholder.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}


.gray_border{
  border:1px solid #e3e3e3;
}

.centered{
  margin-left: auto;
  margin-right: auto;
}


.cause-listing-container {
  .cause-listing {
    background: #f6f6f6;
    border: 1px solid #e0e0e0;
    color: #4d4d4d;
    img.thumb {     
      border: 3px solid #fff;
    }
    .name {
      background: #656565;
      color: #fff;
      min-height: 110px;
      height: auto !important;
      height: 110px;
      a {
        color: #fff;
      }
    }
    .goal {

    }
    .bar-holder {
      height: 20px;
      background: #d7d7d7;
      .bar {
        background: #9dd100;
        border-radius: 0 10px 10px 0;
        height: 20px;
        color: #fff;
        text-align: right;
        line-height: 20px;
        font-size: 70%;
        padding-right: 10px;
        min-width: 40px;
      }
    }
    position: relative;
    .button {
      padding: 10px;
      background: #009dd1;
      border-bottom: 3px solid #008ebd;
      color: #fff;
      width: 100%;
      a {
        color: #fff;
      }
      .icon {
        height: 20px;
        width: 20px;
        background: #008ebd;
        margin-right: 10px;
      }
    }
    .stats {
      background: #ececec;
    }
    .h6 {
        font-size: 7pt !important;
    }
    p {
      margin: 0;
    }
  } 
}


#causes-sort 
{
  max-width: 350px;
  & * {
    border-color: #dc4081;
    & > *:hover {
      color: #fff;
      background: #dc4081;
    }
  }
  
}
