@import "unite/colors";
@import "unite/buttons";

.m-padding {
    padding: 40px;
}
.s-padding {
    padding: 10px;

}

.purple-bg {
    background-color: #9e0253;
    color: #fff; 
}
.purple-text {
    color: #9e0253;
}


.blue-bg {
    background-color: #009dd1;
    color: #fff; 
}

.pink-bg {
    background-color: #9e0253;
    color: #fff
}

.centered-text {
    text-align: center;
}
.inline {
    display: inline-block;
    vertical-align: middle;
}
.inline-inline {
    display: inline;
    vertical-align: middle;
}
.no-limit-top {
    margin-top: 0 !important;
}
.slimit {
    margin-bottom: 1em !important;
}
.mlimit{
    margin-bottom: 2em !important;
}
.blimit{
    margin-bottom: 4em !important;
}
.slimit-top {
    margin-top: 1em !important;
}
.mlimit-top{
    margin-top: 2em !important;
}
.blimit-top{
    margin-top: 4em !important;
}


.secondary {
    opacity: 0.8;
}
.tertiary {
    opacity: 0.4;
}

.bordered {
    border: 2px solid #d3d3d3;
}
.static {
    position: static !important;
}

.nopadding {
    padding: 0 !important;
}

.m-padding {
    padding:20px;
}

.bold {
    font-weight: 700;
}
.large-mlimit-left {
    padding-left: 35px !important;
}

.slimit-left {
    margin-left: 10px !important;
}
.slimit-right {
    margin-right: 10px;
}

.mlimit-right {
    margin-right: 20px;
    max-width: 80px;
    height: auto;
}
.cboth {
    clear:both;
}
.no-margin {
    margin: 0 !important;
}
.smoke-bg {
    background-color: #f4f4f4;
}

.cyan-text {
    color: #399a98;
}
.cyan-bg {
    background-color: #399a98;
    color: #fff;
}
.yellow-text {
    color: #f49234;
}
.yellow-bg {
    background-color: #f6d332;
    color: #373737;
}
.black-bg {
    background-color: #000;
    color: #fff;
}
.black-bg-tp {
    background-color: #000;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
}
.blue-text{
    color: #009dd1;
}


.no-min-width {
    min-width: 0px !important;
}
.no-min-height {
    min-height: 0px !important;
}

.button {
    text-align: center;
    padding: 20px;
    margin: 10px 0 10px 0;
    font-size: 150%;
    line-height: 150%;
}

.button2 {
  display: inline-block;
  padding: 9px 7px;
  color: white;
}

.button * {
    margin: 0;
}



.label {
    padding: 20px;
    border: 1px solid #dcdcdc;
    background-color:#eee;
}

.equal-col-cont {
   overflow: hidden;
   clear:    both;
}
.equal-col-cont .equal-col {
   float: right;
   padding-bottom: 100000px;
   margin-bottom:  -100000px;
}

.plain-list {
    list-style: none;
    padding: 0;
}
.pos-rel {
    position: relative;
}

.transition {
  -webkit-transition: all 0.8s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.8s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.8s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.8s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.transition-quick {
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}


.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid #000; 
	border-right-color: rgba(0,0,0,0.9);
}



@media only screen and (max-width: 48em) {
    .small-inline-list li{
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 10px;
    }

}

.map_title_holder{
  background-color: $veryAlmostWhite;
  h2{
    margin:30px;
    font-weight:100;
  }
  .btn{
    margin:20px;
  }
}

#mapHolder{
  background-image: url('/assets/map_placeholder.jpg');
  background-size:100%;
  background-repeat:no-repeat;
}


.gray_border{
  border:1px solid #e3e3e3;
}

.centered{
  margin-left: auto;
  margin-right: auto;
}

.row.final {
	border-bottom: solid 1px #dfdfdf;
	margin-bottom: 40px;

}

#causes .row.final {
		padding: 30px 0 40px;
}

h3.oxygen {
  font-weight: 300;
  font-size: 1.25em;
}

h3.areatitle {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	span {
		color: #990055;
	}
}

.purple { 
	background: #990055;
	color: #fff;
}
 .purplelink { 
	 color: #990055;
 }

.yourcause {
	a.button {
		display: block;
		padding: 10px 20px;
		text-transform: uppercase;
		font-size: 1em;
		}
	
	p { 
		padding-bottom: 40px;
	}
}


#companies .tc { 
	background: url('/assets/logo-tc.jpg') no-repeat center center; 
	height: 61px;
}
#companies .wired { 
	background: url('/assets/logo-wired.jpg') no-repeat center center; 
	height: 61px;
}
#companies .forbes { 
	background: url('/assets/logo-forbes.jpg') no-repeat center center; 
	height: 61px;
}
#companies .techcrunch { 
	background: url('/assets/logo-techcrunch.jpg') no-repeat center center; 
	height: 61px;
}
#companies .sf7x7 { 
	background: url('/assets/logo-7x7sf.jpg') no-repeat center center; 
	height: 61px;
}


