.m-padding {
    padding: 40px;
}
.s-padding {
    padding: 10px;

}

.purple-bg {
    background-color: #9e0253;
    color: #fff; 
}
.purple-text {
    color: #9e0253;
}


.blue-bg {
    background-color: #009dd1;
    color: #fff; 
}

.centered-text {
    text-align: center;
}
.inline {
    display: inline-block;
    vertical-align: middle;
}
.inline-inline {
    display: inline;
    vertical-align: middle;
}
.no-limit-top {
    margin-top: 0 !important;
}
.slimit {
    margin-bottom: 1em !important;
}
.mlimit{
    margin-bottom: 2em !important;
}
.blimit{
    margin-bottom: 4em !important;
}
.slimit-top {
    margin-top: 1em !important;
}
.mlimit-top{
    margin-top: 2em !important;
}
.blimit-top{
    margin-top: 4em !important;
}



.secondary {
    opacity: 0.8;
}
.tertiary {
    opacity: 0.4;
}

.bordered {
    border: 2px solid #d3d3d3;
}
.static {
    position: static !important;
}

.nopadding {
    padding: 0 !important;
}

.m-padding {
    padding:20px;
}

.bold {
    font-weight: 700;
}
.large-mlimit-left {
    padding-left: 35px !important;
}

.slimit-left {
    margin-left: 10px;
}
.slimit-right {
    margin-right: 10px;
}

.cboth {
    clear:both;
}
.no-margin {
    margin: 0 !important;
}
.smoke-bg {
    background-color: #f4f4f4;
}

.cyan-text {
    color: #399a98;
}
.cyan-bg {
    background-color: #399a98;
    color: #fff;
}
.yellow-text {
    color: #f49234;
}
.yellow-bg {
    background-color: #f6d332;
    color: #373737;
}
.black-bg {
    background-color: #000;
    color: #fff;
}
.blue-text{
    color: #009dd1;
}


.no-min-width {
    min-width: 0px !important;
}
.no-min-height {
    min-height: 0px !important;
}

.button {
    text-align: center;
    padding: 10px;
    margin: 10px 0 10px 0;
}
.small-button {
    padding: 2px 11px 2px 11px;
    font-size:70%;
    text-align: center;
}

.label {
    padding: 20px;
    border: 1px solid #dcdcdc;
    background-color:#eee;
}

.equal-col-cont {
   overflow: hidden;
   clear:    both;
}
.equal-col-cont .equal-col {
   float: right;
   padding-bottom: 100000px;
   margin-bottom:  -100000px;
}

.plain-list {
    list-style: none;
    padding: 0;
}