@import "unite/colors"
@import "unite/mixins"

#causenav
  height: 50px
  padding-top: 5px
  .nav
    display: inline-block
    font-family: serif
  select
    display: inline-block
    height: 30px
    width: 120px
    background-color: $darkPurple 
    color: $white
    border-radius: 5px
    option
      background-color: $mutedGray
      color: $darkPurple

#mapcontainer
  height: 654px
  background-color: $white

  #mapwrapper
    height: 600px
    position: relative
    #map
      position: absolute
      left: 200px
      width: 800px
      height: 600px

    #causelist
      margin: 0
      position: absolute 
      top: 0px
      left: 0px
      list-style-type: none
      background-color: $white
      width: 200px
      height: 100% 
      border-top: 1px solid $mutedGray
      border-right: 1px solid $mutedGray
      border-bottom: 1px solid $mutedGray
      .cause
        img
          display: inline-block
          width: 20px
          height: 20px
