/***********************************************************/


body {
  min-width: 420px;
  background-color: #fff;
  color: #494949;
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
}
a {
    color: #009dd1;
}
b,strong,h2,h1 {
  font-weight:700;
}
h2{
  font-size: 17.25pt;
}
h3 {
  font-size: 14.85pt;
  line-height: 1.3em;
}

input[type=text],input[type=password],input[type=email] {
  border: 5px solid #e3e3e3;
  padding: 14px 17px 14px 17px;
  outline: none;
  width:100%;
  margin-bottom: 1em;
}
.field_with_errors {

input[type=text],input[type=password],input[type=email] {
  border-color: #f1aaaa;
}
}