<%= form_for(@subscribe) do |f| %>
  <div class="row">
      <div class="large-12 columns">           
         
      </div>
      <div class="large-12 columns slimit">
          <h2 class="arial cyan-text bold inline">TAKE THE FIRST ACTION! </h2> <h2 class="arial bold inline">Be in the know!</h2>
      </div>
      
      <div class="large-8 small-12 columns">
          <%= email_field(:subscribe, :email, :placeholder => 'Your email') %>
      </div>
      <div class="large-4 small-12 right text-right columns">
          <%= f.submit 'Subscribe' , :class => 'animation-color button-submit cascade-single' %>
      </div>
      <div class="cboth slimit-top large-12 columns">
          <h4>YOUR EMAIL WILL BE NEVER SHARED</h4>
      </div>

         
  </div>
<% end %>