@import "unite/colors";
@import "unite/mixins";

a.btn {
  white-space: nowrap;
  display: inline-block;
  padding: 9px 7px;
  color: $veryAlmostWhite;
  &.large {
    font-size: 1.5em;
    padding: 20px 20px;
  }
  &.purple {
    @include darkBorder($darkPurple);
  }
  &.pink {
    @include darkBorder($pink);
  }
  &.blue {
    @include darkBorder($lightBlue);
  }
  &.btn-medium{
      padding: 8px 20px;
      display:inline;
      font-size: 0.8em;
      transition: background-color 300ms ease-out;

  }
  &.btn-small{
    padding: 5px ;
    display:inline;
    font-size: 0.8em;
  }
  &.btn-large{
    padding: 10px 20px;
		text-transform: uppercase;
		font-size: 1em;
		transition: background-color 300ms ease-out;

  }
  

  &:hover{
    background-color:$lightBlue;
    text-decoration:none;
    color:white;
  }



}





