@import "unite/colors";

html, body {
  height: 100%;
  width: 100%;
}
.top_holder{
  background-color:#fafafa;
  .left_cause{
    display:inline-block;
    vertical-align:top;
    width: 80%;
    height: 100%;
  }
  .right_cause{
    display:inline-block;
    vertical-align:top;
    
    height:100%;
    width: 20%;
    padding: 25px;
    .subheadline{
      color:#8b8a8a;
      padding-top:25px;
      padding-bottome:25px;
    }
    p{
      line-height:2.2;
    }
  }
}

.middle_bar{ 
  background-color:#f3f4f5;
  
  vertical-align:top;
  ul{
    display:inline;
    padding-left:0px;

  }
  li{
   display: inline-block;
   padding:20px;
   font-weight: bold;
  }
  .active{
    background-color: #e5e6e7;
  }
}

.middle_content{
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.spaced_content{
  margin-top:75px;
}

body.causes {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;

  #map-canvas {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}
// Modals start here
.thankyou-modal {

  a.btn {
    display: inline-block;
    padding: 8px 5px;
    &.large {
      padding: 20px 20px;
    }
    &.purple {
      color: white;
      background-color: $darkPurple;
    }
    &.blue {
      color: white;
      background-color: $lightBlue;

    }
  }

  input {
    padding: 12px 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: rgb(223,219,219);
    border: none;
    box-shadow: 0px 1px 1px 1px rgb(123,123,123) inset;
  }	
  text-align: center;
  background-color: $creame;
  padding: 80px 80px;
  .well {
    .muted {
      font-size: 0.75em;
      text-align: left;
      font-weight: bold;
      color: rgba(125,125,125,.75);
    }
    &.headline {
     	font-size: 2em; 
    }
    margin-top:30px;
    padding: 15px 15px;
    &.padded {
    	padding: 20px 20px;
    }
    background-color: white;
    border: 1px solid rgb(221,221,221);
  }
  .byline {
  	margin-top: 30px;
  }
}
