// Is there any reason these are all rgba when they're not using the alpha?
$darkPurple: rgba(138,0,65,1.0);
$darkGrey: rgb(94,94,94);
$white: rgba(249,249,249,1.0);
$almostWhite: rgb(211,211,211);
$veryAlmostWhite: rgb(235, 235,235);
$creame: rgba(241,241,241,1.0);
$mutedGray: rgba(125,125,125,.75);
$lightBlue: rgb(48,139,198);
$pink: rgb(158,2,83);
$verylightblue: rgb(50,195,246);
$badassGreen: #bada55;
