// Is there any reason these are all rgba when they're not using the alpha?
$darkPurple: rgba(138,0,65,1.0);
$white: rgba(249,249,249,1.0);
$almostWhite: rgb(211,211,211);
$creame: rgba(241,241,241,1.0);
$mutedGray: rgba(125,125,125,.75);
$lightBlue: rgb(48,139,198);
