/*
 * define general, re-usable containers, boxes, backgrounds
 * etc so that people can re-create elements by applying classes
 */

.breakpoint-large {
  .page-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
.narrow_side_container{
  position:relative;
  width:20%;
  height:100%;
}
.wide_side_container{
  padding:20px;
  position:relative;
  width:80%;
  height:100%;
}

.panel {
}
.panel h3 {
  padding: .8em 1em;
  margin: -1.12em -1.1em 1.1em -1.1em !important;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  color: #333;
  background-color: #ededed;
}

