@import  "unite/colors";

  

/*  Guess we're not using checkboxes (right now...) so leaving this here.

input[type=checkbox] {
  visibility: none;
}
input[type=checkbox]:after {
  visibility: visible;
  width: 20px;
  height: 20px;
  content: "";
  display: block;
  background-image: url();
}

input[type=checkbox]:checked:after {
  visibility: visible;
  width: 20px;
  height: 20px;
  content: "";
  display: block;
  background-image: url();

}

 */
