@import  "unite/colors";

// Modals start here
.inner-modal {
  text-align: center;
  background-color: $creame;
  padding: 80px 80px;
  .well {
    margin-top:30px;
    padding: 15px 15px;
    background-color: white;
    border: 1px solid rgb(221,221,221);
    .muted {
      font-size: 0.75em;
      text-align: left;
      font-weight: bold;
      color: $mutedGray;
    }
    &.headline {
      font-size: 2em;
    }
    &.padded {
      padding: 20px 20px;
    }
  }
  .byline {
    margin-top: 30px;
  }
}

.cause-modal {
}
.cause-modal .cause-description {
  max-height: 11.2em;
  margin: 1em 0 .5;
  font-size: 1em;
  line-height: 1.8;
  font-weight: 200;
  overflow: hidden;
}
.cause-modal .cause-description + a {
  text-decoration: underline;
}
