@import  "unite/colors";

// Modals start here
.inner-modal {
  text-align: center;
  background-color: $creame;
  padding: 80px 80px;
  .well {
    margin-top:30px;
    padding: 15px 15px;
    background-color: white;
    border: 1px solid rgb(221,221,221);
    .muted {
      font-size: 0.75em;
      text-align: left;
      font-weight: bold;
      color: $mutedGray;
    }
    &.headline {
      font-size: 2em;
    }
    &.padded {
      padding: 20px 20px;
    }
  }
  .byline {
    margin-top: 30px;
  }
}

.cause-modal iframe {
  width: 100%;
}
.cause-modal .cause-description {
  max-height: 10.8em;
  margin: 1em 0 .5em;
  font-size: 1em;
  line-height: 1.8;
  font-weight: 200;
  overflow: hidden;
}
.cause-modal .cause-description + a {
  text-decoration: underline;
}

.modal-cause {
  border: 1px solid #d3d2d2;
  background-color: #f7f7f7;
}
.modal-cause > .row {
  margin: 0;
  border-bottom: 1px solid #d3d2d2;
  &:last-child {
    border-bottom: none;
  }
}

.modal-cause-title {
  text-align: center;
}
.modal-cause-title h2,
.modal-cause-goal p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.modal-cause-title h2 {
  height: 2em;
  margin: 0 0 .2em;
  font-size: 1.7em;
  line-height: 2;
  color: #fff;
}

.modal-cause-goal {
  padding-top: 1em;
  padding-bottom: 1em;
}
.modal-cause-goal strong,
.modal-cause-goal p {
  display: block;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.25;
}
.modal-cause-goal p {
}
.tile_button{
  width:100%;
  margin-bottom: 5px;
  text-align: center;
}
.goal-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 0 0 -4px;
  background-size: 100% auto;
  background-position: 0 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.goal-icon.cash_donations {
  background-image: image-url('causes/ui/need_icons/cash_donations.png');
}
.goal-icon.followers {
  background-image: image-url('causes/ui/need_icons/followers.png');
}
.goal-icon.goods_donations {
  background-image: image-url('causes/ui/need_icons/goods_donations.png');
}
.goal-icon.volunteers {
  background-image: image-url('causes/ui/need_icons/volunteers.png');
}

.modal-cause-progress {
  padding-top: 1em;
  padding-bottom: 1em;
}

.modal-cause-stats ul {
  margin-right: -0.9375em;
  margin-left: -0.9375em;
}
.modal-cause-stats li {
  padding: .8em .2em !important;
  border-style: none solid none none;
  border-width: 1px;
  border-color: #d3d2d2;
  text-align: center;
}
.modal-cause-stats .large-block-grid-2 > li:nth-of-type(2n) {
  border-right: none;
}
.modal-cause-stats strong,
.modal-cause-stats em {
  display: block;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
}
.modal-cause-stats strong {
  font-size: 1.6em;
  color: #009BD2;
}

.modal-cause-state {
  padding: .8em 0;
}
.modal-cause-state .open-fulfillment-modal {
  font-size: 1em;
  padding: 1em 0 .8em;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.modal-cause-social {
  padding: .8em 0 .3em;
}
.modal-cause-social strong {
  display: block;
  text-align: center;
  font-weight: normal;
}
.fb-color {
  background-color: #3b589e;
}

.modal-cause-period {
  padding: 0;
  font-size: .9em;
}
.modal-cause-period .info-icon {
  background-color: #ebebeb;
  border-right: 1px solid #d3d2d2;
}
.modal-cause-period .info-icon img {
  display: block;
  margin: 1em auto;
}
.modal-cause-period dl {
  float: left;
  padding: .5em 0 0 .8em;
  margin: 0;
  line-height: 1.5;
}
.modal-cause-period dt {
  float: left;
  font-weight: bold;
  clear: left;
  margin: 0 .5em 0 0;
}
.modal-cause-period dd {
  float: left;
  margin: 0;
  clear: right;
}
.modal-cause-period p {
  margin: 0;
  line-height: 1;
}
.modal-cause-period small {
  font-size: .7em;
}
