@import  "unite/colors";

/* For navigation and tab related components */


.horizontal-tabs .column,
.horizontal-tabs .columns {
  padding: 0;
  float: left !important;
}

.horizontal-tabs a {
  display: block;
  width: 100%;
  height: 2.4em;
  line-height: 2.2;
  border-left: solid 1px #999;
  border-bottom: solid 1px #999;
  border-top: solid 1px #999;
  text-align: center;
  color: #595959;
  text-decoration: none;
  background-color: #ededed;
}
.horizontal-tabs .column:last-child a{
  border-right: solid 1px #999;
}

.horizontal-tabs a:hover{
  border-top: 1px solid $pink;
}

.horizontal-tabs .active {
 
  background-color: #fff;
  border-top: 2px solid blue !important;
  border-bottom: 2px solid white;
}
.user-icon,
.badge-icon {
  display: inline-block;
  height: 100%;
  padding: 0 2em;
  background-position: 1px 1px;
  background-repeat: no-repeat;
}
.user-icon {
  background-image: image-url("ui/user-icon.png");
  background-position: 4px -58px;
}
.active .user-icon {
  background-position: 4px 6px;
}
.badge-icon {
  background-image: image-url("ui/badge-icon.png");
  background-position: 0 -58px;
}
.active .badge-icon {
  background-position: 0 6px;
}
