#secondary-pages {
  padding-bottom: 4em;
}
#sp-menu strong {
  display: block;
  padding: 1em 0;
  text-transform: uppercase;
  color: #bbb;
  text-shadow: 1px 1px 0 #fff;
  margin: 1em 0 0;
}
#sp-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#sp-menu li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  &:first-of-type {
    border-top: 1px solid #ccc;
  }
}
#sp-menu a {
  display: block;
  padding: .6em 0;
  line-height: 1.4;
  color: #555;
  font-weight: bold;
}
#sp-menu a.selected {
  color: #009BD2;
}
[role='main'] {
  border: 1px solid #ccc;
}
[role='main'] .row {
  border-bottom: 1px solid #ccc;
  &:last-child {
    border: none;
  }
}
.sp-hero img {
  display: block;
  margin: 1em 0;
}
.sp-tagline strong {
  display: block;
  padding: 1.4em 0;
  font-size: 1.6em;
  line-height: 1.4;
  text-align: center;
  color: #555;
}
.sp-description h1 {
  font-size: 1.8em;
  line-height: 1;
  color: #444;
}
.sp-description p {
  font-weight: 200;
  line-height: 1.8;
  margin-bottom: 2em;
}
.sp-description ul {
  padding: 0 0 0 1.2em;
}
.sp-description li {
  margin: .75em 0;
}
.sp-description .large-7,
.sp-description .large-5 {
  padding-top: 1.8em;
}
.sp-description .large-12 {
  padding-top: 1.2em;
}
.sp-description .large-7 {
}
.sp-description .large-5 {
}
.sp-description .large-5 img {
  display: block;
  margin: 3.6em 0 2em;
}
.sp-description .large-5 p {
  font-size: .9em;
  line-height: 1.8;
}
