@import  "unite/colors";
.login{
	margin-left:auto;
	margin-right:auto;
	width:800px;
	height:500px;
	background-color:white;
	.left{
		width:400px;
		position:relative;
		.middle_spacer{
			top:0px;
			right:0px;
			width:1px;
			height:100%;
			position:absolute;
			background-color: #ccc;
		}
	}
	.right{
		width:400px;
		text-align:center;
		.fb_login{
			display:inline-block;
			margin-top:150px;
		}
	}
	
	.title{
		font-size:20px;
		font-weight:bold;
		padding:20px;
		text-align:center;
	}
	.remember_me{
		padding-top:20px;
		text-align:center;
	}
	

	.fb_login_text{
		color: #8d8a8a;
		margin-top:15px;
		font-size:12px;
	}
}

.profile_title{
	font-weight:bold;
	color:#999;
	margin:20px 0px 10px 0px;
}

.profile_picture{
		width:100%;
		height:300px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}


.profile_containter{
	margin-left:27px;

	.profile_name{
		font-weight:bold;
		font-size:30px;
		margin:10px 0px 10px 0px;
	}
	.profile_location{
		font-size:20px;
		margin:10px 0px 10px 0px;
	}
	

}


	
