@import  "unite/colors";
.login{
	margin-left:auto;
	margin-right:auto;
	width:800px;
	height:500px;
	background-color:white;
	.left{
		width:400px;
		position:relative;
		.middle_spacer{
			top:0px;
			right:0px;
			width:1px;
			height:300px;
			position:absolute;
			background-color: grey;
		}
	}
	.right{
		width:400px;
		text-align:center;
		.fb_login{
			display:inline-block;
			margin-top:150px;
		}
	}
	
	.title{
		font-size:20px;
		font-weight:bold;
		padding:20px;
		text-align:center;
	}
	.remember_me{
		text-align:center;
	}
	.input_row{
		padding-top:20px;
		text-align:center;
	}
	.signup_row{
		
		input{
			width:130px;
			height:60px;
			background-color: $darkPurple ;
			border:none;
			color:$white;
			font-size:20px;

		}
	}


}